<div>

    <!-- Introduction Section -->
    <div class="row">
        <div class="col-12">
            <h2 class="mt-0">Project Information</h2>
            <p>
                The current data driven equipment maintenance approach lacks of recommended maintenance solution.  
                This project proposes prescriptive maintenance to determine the root cause of the impending failure and 
                provides the best maintenance action to optimize the total cost.
            </p>
        </div>
    </div>


    <!-- Our Solution Section -->
    <div class="row">
        <div class="col-12">
            <h2 class="mt-0">Objective</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-md-6 d-flex">
            <div class="introduction-component">
                <h3>System level prescriptive maintenance</h3>
                <p>
                    System level prescriptive maintenance algorithm predicts degradation level while also determining 
                    the root cause of the system failure to facilitate the decision of the maintenance actions.
                </p>
            </div>
        </div>

        <div class="col-12 col-md-6 d-flex">
            <div class="introduction-component">
                <h3>Offline deep reinforcement learning</h3>
                <p>
                    Offline deep reinforcement learning algorithm to recommend maintenance actions to optimize the total cost.
                </p>
            </div>
        </div>
    </div>

</div>
