<div>
  <div class="row">
    <div class="col-12">
      <app-view-heading
        [title]="'Results'"
      ></app-view-heading>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="row col-12">
        <h2 class="mt-0">Comparison</h2>
      </div>
      <div class="row col-12 col-lg-12">
        <section class="chart">
          <kendo-chart class=" vh-lg-20" [title]="{text: 'Chart 1'}">
            <kendo-chart-category-axis>
              <kendo-chart-category-axis-item
                [categories]="['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"
              >
              </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>
            <kendo-chart-series>
              <kendo-chart-series-item
                type="column"
                [stack]="true"
                [data]="[100, 200, 300, 300, 100, 200, 300, 100, 200, 300, ]"
              >
              </kendo-chart-series-item>

              <!--            <kendo-chart-series-item type="column">-->
              <!--            </kendo-chart-series-item>-->
              <kendo-chart-series-item type="column" [data]="[100, 100, 100, 100, 100, 100, 100, 100,100, 100]">
              </kendo-chart-series-item>
              <!--            <kendo-chart-series-item type="line" [data]="[300,400,500,500]">-->
              <!--            </kendo-chart-series-item>-->
            </kendo-chart-series>
            <kendo-chart-legend position="bottom" orientation="horizontal">
            </kendo-chart-legend>
          </kendo-chart>
        </section>
      </div>
      <div class="row col-12 col-lg-12 mt-4 ">
        <section class="chart">
          <kendo-chart class=" vh-lg-20" [title]="{text: 'Chart 2'}">
            <kendo-chart-category-axis>
              <kendo-chart-category-axis-item
                [categories]="['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"
              >
              </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>
            <kendo-chart-series>
              <kendo-chart-series-item
                type="column"
                [stack]="true"
                [data]="[100, 200, 300, 300, 100, 200, 300, 100, 200, 300, ]"
              >
              </kendo-chart-series-item>

              <!--            <kendo-chart-series-item type="column">-->
              <!--            </kendo-chart-series-item>-->
              <kendo-chart-series-item type="column" [data]="[100, 100, 100, 100, 100, 100, 100, 100,100, 100]">
              </kendo-chart-series-item>
              <!--            <kendo-chart-series-item type="line" [data]="[300,400,500,500]">-->
              <!--            </kendo-chart-series-item>-->
            </kendo-chart-series>
            <kendo-chart-legend position="bottom" orientation="horizontal">
            </kendo-chart-legend>
          </kendo-chart>
        </section>
      </div>
      <div class="row col-12 mt-4 ">
        <section class="chart col-12 col-lg-6">
          <kendo-chart class=" vh-lg-20" [title]="{text: 'Computation Time'}">
            <kendo-chart-category-axis>
              <kendo-chart-category-axis-item
                [categories]="['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"
              >
              </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>
            <kendo-chart-series>
              <kendo-chart-series-item
                type="column"
                [stack]="true"
                [data]="[100, 200, 300, 300, 100, 200, 300, 100, 200, 300, ]"
              >
              </kendo-chart-series-item>

              <!--            <kendo-chart-series-item type="column">-->
              <!--            </kendo-chart-series-item>-->
              <kendo-chart-series-item type="column" [data]="[100, 100, 100, 100, 100, 100, 100, 100,100, 100]">
              </kendo-chart-series-item>
              <!--            <kendo-chart-series-item type="line" [data]="[300,400,500,500]">-->
              <!--            </kendo-chart-series-item>-->
            </kendo-chart-series>
            <kendo-chart-legend position="bottom" orientation="horizontal">
            </kendo-chart-legend>
          </kendo-chart>
        </section>
        <section class="chart col-12 col-lg-6">
          <kendo-chart class=" vh-lg-20" [title]="{text: 'Computation Time'}">
            <kendo-chart-category-axis>
              <kendo-chart-category-axis-item
                [categories]="['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"
              >
              </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>
            <kendo-chart-series>
              <kendo-chart-series-item
                type="column"
                [stack]="true"
                [data]="[100, 200, 300, 300, 100, 200, 300, 100, 200, 300, ]"
              >
              </kendo-chart-series-item>

              <!--            <kendo-chart-series-item type="column">-->
              <!--            </kendo-chart-series-item>-->
              <kendo-chart-series-item type="column" [data]="[100, 100, 100, 100, 100, 100, 100, 100,100, 100]">
              </kendo-chart-series-item>
              <!--            <kendo-chart-series-item type="line" [data]="[300,400,500,500]">-->
              <!--            </kendo-chart-series-item>-->
            </kendo-chart-series>
            <kendo-chart-legend position="bottom" orientation="horizontal">
            </kendo-chart-legend>
          </kendo-chart>
        </section>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex flex-column justify-content-between">
      <div class="col-12">
        <div class="row col-12">
          <h2>Settings</h2>
        </div>
        <div class="row col-12">
          <kendo-label text="Configuration 1">

            <div  kendoTooltip class="d-inline"
                  filter=".config-1"
                  tooltipWidth="200"
                     [tooltipTemplate]="template">
              <span class="config-1 k-icon k-i-information"></span>
              <ng-template #template let-anchor>
                <span class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores deserunt dolor doloremque est facilis inventore qui sit veniam.</span>
              </ng-template>
            </div>

          </kendo-label>
          <div class="form-control row mt-1">
            <div class="col-4">
              <label class="k-label"
              >Option 1
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 2
                <input type="checkbox" kendoCheckBox name="cb" />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 3
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 4
                <input type="checkbox" kendoCheckBox name="cb"  />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 5
                <input type="checkbox" class="ms-1" kendoCheckBox name="cb" />
              </label>
            </div>

          </div>
        </div>
        <div class="row col-12 mt-4">
          <kendo-label text="Configuration 2"></kendo-label>
          <div class="form-control row mt-1">
            <div class="col-4">
              <label class="k-label"
              >Option 1
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 2
                <input type="checkbox" kendoCheckBox name="cb" />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 3
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 4
                <input type="checkbox" kendoCheckBox name="cb"  />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 5
                <input type="checkbox" class="ms-1" kendoCheckBox name="cb" />
              </label>
            </div>

          </div>
        </div>
        <div class="row col-12 mt-4">
          <kendo-label text="Configuration 3"></kendo-label>
          <div class="form-control row mt-1">
            <div class="col-4">
              <label class="k-label"
              >Option 1
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 2
                <input type="checkbox" kendoCheckBox name="cb" />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 3
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 4
                <input type="checkbox" kendoCheckBox name="cb"  />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 5
                <input type="checkbox" class="ms-1" kendoCheckBox name="cb" />
              </label>
            </div>

          </div>
        </div>
        <div class="row col-12 mt-4 ">
          <button class="button mb-4" kendoButton [primary]="true">Primary</button>
        </div>
      </div>
      <div class="col-12  ">
        <div class="row col-12 mt-4">
          <h3>Note : </h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam animi aperiam at aut deserunt dolore inventore ipsam itaque laborum magnam maxime minima</p>
        </div>
        <div class="row col-12 mt-4">
          <p>Reference: <a href="javascript:"  (click)="open()">View More</a></p>
        </div>
      </div>

    </div>
  </div>

</div>

<kendo-window withBackdrop
              title="Reference"
  *ngIf="opened"
  (close)="close()"
  [width]="400"
>

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus, deleniti id illo laboriosam neque porro quaerat vitae. Aperiam earum est id, iusto veniam voluptate. Alias commodi impedit iure iusto maxime, molestias necessitatibus praesentium quisquam repellat repellendus, similique vel voluptatem. Aliquam architecto at atque dolores eligendi explicabo, ipsa iste, libero maxime nam nemo provident qui temporibus totam voluptatum? Consectetur dolores minima modi numquam reprehenderit.


</kendo-window>
<div class="k-overlay" *ngIf="opened"></div>
