<div>
  <div class="row">
    <div class="col-12">
      <app-view-heading
        [title]="'Results'"
      ></app-view-heading>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="row col-12">
        <h2 class="mt-0">Comparison</h2>
      </div>
      <div class="row col-12 col-lg-12">
        <section class="chart">
          <kendo-chart [title]="{text: 'Chart 1', font: '1.2rem sans-serif'}" >
            <kendo-chart-legend position="bottom" orientation="horizontal" [labels]="{font: '0.5rem sans-serif'}">
              <kendo-chart-legend-item >
                

              </kendo-chart-legend-item
              >

            </kendo-chart-legend>
            <kendo-chart-category-axis>
              <kendo-chart-category-axis-item
                [categories]="['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"
                [title]="{ text: 'X-Axis label', font: '0.7rem sans-serif'}"
                [labels]="{font: '0.4rem sans-serif'}"
                [line]= "{width: 5}"
                [majorGridLines]= "{width: 5}"
              >
              </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>
            <kendo-chart-series>
              <kendo-chart-series-item
                type="horizontalWaterfall"
                [stack]="true"
                [data]="[100, 200, 300, 300, 100, 200, 300, 100, 200, 300, ]"
                name= "Data 1"
              >
              </kendo-chart-series-item>

              <!--            <kendo-chart-series-item type="column">-->
              <!--            </kendo-chart-series-item>-->
              <kendo-chart-series-item 
              type="horizontalWaterfall" 
              [stack]="true"
              [data]="[100, 100, 100, 100, 100, 100, 100, 100,100, 100]"
              name= "Data 2"
             >
              </kendo-chart-series-item>
           
              <kendo-chart-value-axis>
                <!--To change the size of the y-axis title, please change the font size of the title parameter-->
                <!--To change the width of the horizontal gridlines, please change the width of the line and majorGridLines parameters-->
                <!--To change the size of the y-axis data, please change the size of the labels parameter-->
                                <kendo-chart-value-axis-item 
                                  [title]="{ text: 'Y-Axis Label', font: '0.7rem sans-serif' }"
                                  [labels]="{font: '0.7rem sans-serif'}"
                                  [line]= "{width: 5}"
                                  [majorGridLines]= "{width: 5}"
                                  [labels]="{font: '0.4rem sans-serif'}"
                                 
                                  >
                                </kendo-chart-value-axis-item>
                
                              </kendo-chart-value-axis>
            </kendo-chart-series>
          
          </kendo-chart>



        </section>
      </div>
      <div class="row col-12 col-lg-12 mt-4 ">
        <section class="chart">
          <kendo-chart [title]="{text: 'Chart 2', font: '1.2rem sans-serif'}" >
            <kendo-chart-legend position="bottom" orientation="horizontal" [labels]="{font: '0.5rem sans-serif'}">
              <kendo-chart-legend-item >
                

              </kendo-chart-legend-item
              >

            </kendo-chart-legend>
            <kendo-chart-category-axis>
              <kendo-chart-category-axis-item
                [categories]="['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"
                [title]="{ text: 'X-Axis label', font: '0.7rem sans-serif'}"
                [labels]="{font: '0.4rem sans-serif'}"
                [line]= "{width: 0}"
                [majorGridLines]= "{width: 0}"
              >
              </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>
            <kendo-chart-series>
              <kendo-chart-series-item
                type="area"
                [stack]="true"
                [data]="[100, 200, 300, 300, 100, 200, 300, 100, 200, 300, ]"
                name= "Data 1"
              >
              </kendo-chart-series-item>

              <!--            <kendo-chart-series-item type="column">-->
              <!--            </kendo-chart-series-item>-->
              <kendo-chart-series-item type="area" [data]="[100, 100, 100, 100, 100, 100, 100, 100,100, 100]"
              name= "Data 2"
              >
              </kendo-chart-series-item>
              <!--            <kendo-chart-series-item type="line" [data]="[300,400,500,500]">-->
              <!--            </kendo-chart-series-item>-->
              <kendo-chart-value-axis>
                <!--To change the size of the y-axis title, please change the font size of the title parameter-->
                <!--To change the width of the horizontal gridlines, please change the width of the line and majorGridLines parameters-->
                <!--To change the size of the y-axis data, please change the size of the labels parameter-->
                                <kendo-chart-value-axis-item 
                                  [title]="{ text: 'Y-Axis Label', font: '0.7rem sans-serif' }"
                                  [labels]="{font: '0.7rem sans-serif'}"
                                  [line]= "{width: 0}"
                                  [majorGridLines]= "{width: 0}"
                                  [labels]="{font: '0.4rem sans-serif'}"
                                 
                                  >
                                </kendo-chart-value-axis-item>
                
                              </kendo-chart-value-axis>
            </kendo-chart-series>
            
          </kendo-chart>
        </section>
      </div>
      <div class="row col-12 mt-4 ">
        <section class="chart col-12 col-lg-6">
          <kendo-chart [title]="{text: 'Computation Time', font: '1.2rem sans-serif'}">
            <kendo-chart-legend position="bottom" orientation="horizontal" [labels]="{font: '0.5rem sans-serif'}">
              <kendo-chart-legend-item >
                

              </kendo-chart-legend-item
              >

            </kendo-chart-legend>
            <kendo-chart-category-axis>
              <kendo-chart-category-axis-item
                [categories]="['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"
                [title]="{ text: 'X-Axis label', font: '0.7rem sans-serif'}"
                [labels]="{font: '0.4rem sans-serif'}"
                [line]= "{width: 1}"
                [majorGridLines]= "{width: 1}"
              >
              </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>
            <kendo-chart-series>
              <kendo-chart-series-item
                type="column"
                [stack]="true"
                [data]="[100, 200, 300, 300, 100, 200, 300, 100, 200, 300, ]"
                name= "Data 1"
                [markers]="{size: 15}"
              >
              </kendo-chart-series-item>

              <!--            <kendo-chart-series-item type="column">-->
              <!--            </kendo-chart-series-item>-->
              <kendo-chart-series-item type="column" [data]="[100, 100, 100, 100, 100, 100, 100, 100,100, 100]"
              name= "Data 2"
              [markers]="{size: 15}">
              </kendo-chart-series-item>
              <!--            <kendo-chart-series-item type="line" [data]="[300,400,500,500]">-->
              <!--            </kendo-chart-series-item>-->
              <kendo-chart-value-axis>
                <!--To change the size of the y-axis title, please change the font size of the title parameter-->
                <!--To change the width of the horizontal gridlines, please change the width of the line and majorGridLines parameters-->
                <!--To change the size of the y-axis data, please change the size of the labels parameter-->
                                <kendo-chart-value-axis-item 
                                  [title]="{ text: 'Y-Axis Label', font: '0.7rem sans-serif' }"
                                  [labels]="{font: '0.7rem sans-serif'}"
                                  [line]= "{width: 1}"
                                  [majorGridLines]= "{width: 1}"
                                  [labels]="{font: '0.4rem sans-serif'}"
                                 
                                  >
                                </kendo-chart-value-axis-item>
                
                              </kendo-chart-value-axis>
            </kendo-chart-series>
           
          </kendo-chart>
        </section>
        <section class="chart col-12 col-lg-6">
          <kendo-chart  [title]="{text: 'Computation Time', font: '1.2rem sans-serif'}">
            <kendo-chart-legend position="bottom" orientation="horizontal" [labels]="{font: '0.5rem sans-serif'}">
              <kendo-chart-legend-item >
                

              </kendo-chart-legend-item
              >

            </kendo-chart-legend>
            <kendo-chart-category-axis>
              <kendo-chart-category-axis-item
                [categories]="['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"
                [title]="{ text: 'X-Axis label', font: '0.7rem sans-serif'}"
                [labels]="{font: '0.4rem sans-serif'}"
                [line]= "{width: 1}"
                [majorGridLines]= "{width: 1}"
              >
              </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>
            <kendo-chart-series>
              <kendo-chart-series-item
                type="line"
                [stack]="true"
                [data]="[100, 200, 300, 300, 100, 200, 300, 100, 200, 300, ]"
                name= "data 1"
              >
              </kendo-chart-series-item>

              <!--            <kendo-chart-series-item type="column">-->
              <!--            </kendo-chart-series-item>-->
              <kendo-chart-series-item 
              type="line" 
              [data]="[100, 100, 100, 100, 100, 100, 100, 100,100, 100]"
              name= "data 2">
              </kendo-chart-series-item>
              <!--            <kendo-chart-series-item type="line" [data]="[300,400,500,500]">-->
              <!--            </kendo-chart-series-item>-->
              <kendo-chart-value-axis>
                <!--To change the size of the y-axis title, please change the font size of the title parameter-->
                <!--To change the width of the horizontal gridlines, please change the width of the line and majorGridLines parameters-->
                <!--To change the size of the y-axis data, please change the size of the labels parameter-->
                                <kendo-chart-value-axis-item 
                                  [title]="{ text: 'Y-Axis Label', font: '0.7rem sans-serif' }"
                                  [labels]="{font: '0.7rem sans-serif'}"
                                  [line]= "{width: 1}"
                                  [majorGridLines]= "{width: 1}"
                                  [labels]="{font: '0.4rem sans-serif'}"
                                 
                                  >
                                </kendo-chart-value-axis-item>
                
                              </kendo-chart-value-axis>
            </kendo-chart-series>
           
          </kendo-chart>
        </section>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex flex-column justify-content-between">
      <div class="col-12">
        <div class="row col-12">
          <h2>Settings</h2>
        </div>
        <div class="row col-12">
          <kendo-label text="Configuration 1"></kendo-label>
          <div class="form-control row mt-1">
            <div class="col-4">
              <label class="k-label"
              >Option 1
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 2
                <input type="checkbox" kendoCheckBox name="cb" />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 3
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 4
                <input type="checkbox" kendoCheckBox name="cb"  />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 5
                <input type="checkbox" class="ms-1" kendoCheckBox name="cb" />
              </label>
            </div>

          </div>
        </div>
        <div class="row col-12 mt-4">
          <kendo-label text="Configuration 2"></kendo-label>
          <div class="form-control row mt-1">
            <div class="col-4">
              <label class="k-label"
              >Option 1
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 2
                <input type="checkbox" kendoCheckBox name="cb" />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 3
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 4
                <input type="checkbox" kendoCheckBox name="cb"  />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 5
                <input type="checkbox" class="ms-1" kendoCheckBox name="cb" />
              </label>
            </div>

          </div>
        </div>
        <div class="row col-12 mt-4">
          <kendo-label text="Configuration 3"></kendo-label>
          <div class="form-control row mt-1">
            <div class="col-4">
              <label class="k-label"
              >Option 1
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 2
                <input type="checkbox" kendoCheckBox name="cb" />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 3
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 4
                <input type="checkbox" kendoCheckBox name="cb"  />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 5
                <input type="checkbox" class="ms-1" kendoCheckBox name="cb" />
              </label>
            </div>

          </div>
        </div>
        <div class="row col-12 mt-4 ">
          <button class="button mb-4" kendoButton [primary]="true">Primary</button>
        </div>
      </div>
      <div class="col-12  ">
        <div class="row col-12 mt-4">
          <h3>Note : </h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam animi aperiam at aut deserunt dolore inventore ipsam itaque laborum magnam maxime minima</p>
        </div>
        <div class="row col-12 mt-4">
          <p>Reference: <a href="">View More</a></p>
        </div>
      </div>

    </div>
  </div>

<!--  <div class="row mt-4">-->
<!--    <div class="col-12 col-lg-6">-->
<!--      <section class="chart">-->
<!--        <kendo-chart title="World Population by Broad Age Groups" class=" vh-lg-30 vh-xl-30">-->
<!--          <kendo-chart-legend position="bottom"></kendo-chart-legend>-->
<!--          <kendo-chart-series>-->
<!--            <kendo-chart-series-item-->
<!--              type="pie"-->
<!--              [data]="pieData"-->
<!--              field="value"-->
<!--              categoryField="category"-->
<!--              [labels]="{ visible: true, content: labelContent }"-->
<!--            >-->
<!--            </kendo-chart-series-item>-->
<!--          </kendo-chart-series>-->
<!--        </kendo-chart>-->
<!--      </section>-->
<!--    </div>-->
<!--    <div class="col-12 col-lg-6 mt-4 mt-lg-0">-->
<!--      <section class="chart">-->
<!--        <kendo-chart class=" vh-lg-30 vh-xl-30">-->
<!--          <kendo-chart-title text="Units sold"></kendo-chart-title>-->
<!--          <kendo-chart-category-axis>-->
<!--            <kendo-chart-category-axis-item-->
<!--              [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"-->
<!--              [title]="{ text: 'Months' }"-->
<!--            >-->
<!--            </kendo-chart-category-axis-item>-->
<!--          </kendo-chart-category-axis>-->
<!--          <kendo-chart-series>-->
<!--            <kendo-chart-series-item-->
<!--              type="area"-->
<!--              [data]="[123, 276, 310, 212, 240, 156, 98]"-->
<!--            >-->
<!--            </kendo-chart-series-item>-->
<!--            <kendo-chart-series-item-->
<!--              type="area"-->
<!--              [data]="[165, 210, 287, 144, 190, 167, 212]"-->
<!--            >-->
<!--            </kendo-chart-series-item>-->
<!--            <kendo-chart-series-item-->
<!--              type="area"-->
<!--              [data]="[56, 140, 195, 46, 123, 78, 95]"-->
<!--            >-->
<!--            </kendo-chart-series-item>-->
<!--          </kendo-chart-series>-->
<!--        </kendo-chart>-->
<!--      </section>-->
<!--    </div>-->
<!--  </div>-->
</div>

