<!-- Sidebar that becomes toggleable on smaller screens -->
<aside *ngIf="!isLoginView()" class="Sidebar">

  <!-- Logo -->
  <img class="Sidebar__logo" src="assets/img/logo.png" alt="SIMTech Logo" />
  <!-- Category title and items -->
  <div class="Sidebar__menu" *ngIf="isLoggedIn$ | async">
    <!-- FIXME: When menuGroup has no items for current elevation, category should not appear -->
    <kendo-panelbar  class="dis-custom-menu-bar"  >

        <kendo-panelbar-item   class="dis-custom-panelbar-item"  *ngFor="let menuGroup of menuGroups; index as i" [expanded]="showFirstPanelItems(i)">
          <ng-template kendoPanelBarItemTitle >
            <h4 class="Sidebar__menuCategoryTitle">{{ menuGroup.group }}</h4>
          </ng-template>
          <kendo-panelbar-item class="dis-custom-panelbar-child" (click)="itemOnClick(item)"
                               *ngFor="let item of menuGroup.items"  [routerLink]="item.link" routerLinkActive="{{item.link? 'active': undefined }}"  [ngClass]="{'has-third-level': item.group }">
            <!-- If there are no third level items, shows items that are clickable -->
            <ng-template kendoPanelBarItemTitle  >

              <ng-container>

                <a class="side-bar-links"  >
                  <kendo-icon [name]="item.icon"></kendo-icon>
                  <span *ngIf="!item.group">{{ item.name }}</span>
                  <span *ngIf="item.group">{{ item.group }}</span>
                </a>
              </ng-container>
            </ng-template>
            <!-- If there are third level items, shows group again -->
            <kendo-panelbar-item class="dis-custom-panelbar-child" (click)="itemOnClick(childItems)"
                                 *ngFor="let childItems of item.items" [routerLink]="childItems.link" routerLinkActive="{{childItems.link? 'active': undefined }}" >

              <ng-template kendoPanelBarItemTitle>
                <ng-container>
                  <a class="side-bar-links ms-3" >
                    <kendo-icon [name]="childItems.icon"></kendo-icon>
                    {{ childItems.name }}
                  </a>
                </ng-container>
              </ng-template>
            </kendo-panelbar-item>

          </kendo-panelbar-item>

        </kendo-panelbar-item>
    </kendo-panelbar>
  </div>

  <!-- This is the collaborators portion. Uncomment if there are external collaborators-->
  <div class="me-0 mt-auto collab text-center d-flex flex-column">
    <span>In Collaboration With</span>
    <img class="mx-auto" src="assets/img/logo.png" alt="SIMTech Logo" />
  </div>
</aside>
