
  
.icon-grp{
  
  animation: warning-glowing 1s ease-in-out infinite alternate ;
}

.circle_action{
    stroke : rgb(209, 17, 226);
    stroke-width: 5;
}

.line_action{
  stroke:  rgb(209, 17, 226);
  stroke-width: 10;
}
.Action-text{
  fill: rgb(12, 12, 12);
  stroke-width: 0;
  font-size: 10px;
  text-anchor: middle;

}

.text-cost {
  fill: rgb(67, 233, 25);
  stroke-width: 2;
  font-size: 20px;
  text-anchor: middle;
}

.text-test {
    fill: #fff;
    stroke-width: 0;
    font-size: 1vw;
    text-anchor: middle;
  }

  .card { 
    display:none 
    } 


.active{ 
    display: block; 
    animation: slide 1000ms ease-in-out forwards; 
    } 

  @keyframes slide{ 
          0%{ 
          transform: translateX(200%); 
          opacity: 0; 
          } 
          200%{ 
          transform: translateX(0%); 
          opacity: 1; 
          } 
          } 
  
  @keyframes warning-glowing {
              from {
                filter: drop-shadow( 0 0 2px #fff) drop-shadow( 0 0 4px #FFBF00) drop-shadow( 0 0 6px #FFBF00);
              }
            
              to {
                
                filter: drop-shadow( 0 0 6px #fff) drop-shadow( 0 0 4px #FFBF00) drop-shadow( 0 0 6px #FFBF00);
              }
            }