<div>


    <!-- Title Section -->
    <div class="row">
        <div class="col-12">
            <h2 class="mt-0">Performance & Results</h2>
        </div>
    </div>



    <div class="row">


        <!-- Left Content -->
        <div class="col-12 col-md-8">
            <div class="row col-12 col-lg-12">


                <section class="chart">
                    <kendo-chart class="vh-lg-60" [seriesColors]='seriesColors' [title]="{text: ' ', font: '1.2rem sans-serif'}">

                        <kendo-chart-value-axis>
                            <kendo-chart-value-axis-item
                                [title]="{ text: 'Total Cost (k)$' }"
                                >
                            </kendo-chart-value-axis-item>
                        </kendo-chart-value-axis>


                        <kendo-chart-legend position="bottom" orientation="horizontal" [labels]="{font: chartConfig.legendFont}">
                            <kendo-chart-legend-item >
                            </kendo-chart-legend-item>
                        </kendo-chart-legend>


                        <kendo-chart-category-axis>
                            <kendo-chart-category-axis-item [categories]="series_categories_barchart">
                            </kendo-chart-category-axis-item>
                        </kendo-chart-category-axis>


                        <kendo-chart-series (seriesClickEvent)="test(series_maintenance)">
                            <kendo-chart-series-item seriesClickEvent="test" *ngFor="let item of series_maintenance"
                                [labels]="seriesLabels" 
                                [data]="item.items"
                                [name]="item.value"
                                [color]="load_barchart_color"
                                >
                                <kendo-chart-series-item-tooltip>
                                    <ng-template let-value="value" let-category="category" let-dataItem="dataItem">
                                        <div> {{ dataItem.paper_ref }} </div>
                                    </ng-template>
                                </kendo-chart-series-item-tooltip>
                                <kendo-chart-series-item-labels [content]="contentString">
                                </kendo-chart-series-item-labels>

                            </kendo-chart-series-item>
                        </kendo-chart-series>

                    </kendo-chart>
                </section>


            </div>
        </div>


        <!-- Right Content -->
        <div class="col-12 col-md-4 d-flex flex-column justify-content-between">
            <div class="col-12">

                 <!-- Title -->
                 <div class="row col-12">
                    <h3><b>Selected maintenance action sequence (at T to T+5) leads to lesser total cost.</b></h3>
                </div>

                <div class="row col-12">
                    <h4 class="mt-0">
                        CPPS WP 3.3 provides optimal action sequence which uses lesser total cost compared with the 
                        state-of-the-art algorithms.
                    </h4>
                </div>

                <!-- Right Checkbox User Selection Section -->

                <div class="row col-12">
                    <h3 class="mt-0">Settings</h3>
                </div>

                <div class="row col-12">
                    <kendo-label text="Algorithms">
                    </kendo-label>

                    <div class="form-control row mt-1">

                        <div class="col-12">
                            <label class="k-label"> CPPS WP 3.3<app-simtech-label></app-simtech-label>
                                <input type="checkbox" kendoCheckBox name="cb" (click)="toggle_algo_CPPS_3_3_dataset()" checked="checked_cpps_3_3"/>
                            </label>
                        </div>

                        <div class="col-12">
                            <label class="k-label"> LSTM + PPO
                                <input type="checkbox" kendoCheckBox name="cb" (click)="toggle_algo_ppo_lstm_dataset()" checked="checked_hdb_scan"/>
                            </label>
                        </div>

                        <div class="col-12">
                            <label class="k-label"> DDQN + PER
                                <input type="checkbox" kendoCheckBox name="cb" (click)="toggle_algo_ddqn_per_dataset()" checked="checked_mini_batch_k_means"/>
                            </label>
                        </div>

                    </div>
                </div>

                <br/><br/>

                <!-- Datasets -->
                <div class="row col-12">
                    <kendo-label text="Datasets">
                    </kendo-label>

                    <div class="col-12">
                        <label class="k-label"> Model Factory Dataset
                            <input type="checkbox" kendoCheckBox name="cb" (click)="model_factory_dataset()" checked="checked_model_factory"/>
                        </label>
                    </div>

                    <div class="col-12">
                        <label class="k-label"> Industry Dataset (MedTech)
                            <input type="checkbox" kendoCheckBox name="cb" (click)="industry_dataset()" checked="checked_mec_tech"/>
                        </label>
                    </div>
                </div>

            </div>
        </div>


    </div>


    <br/><br/>
    

    <!-- Bottom - Maintenance Action Section-->
    <div class="row" >

        <div class="col-8 col-md-8 align-self-center" >
            <svg id='flow_chart' xmlns="http://www.w3.org/2000/svg" width="100%" height="50vh">


            <g>
                <text x="10%" y="30%" class="text-test">CPPS WP 3.3</text>
                <text x="10%" y="60%" class="text-test">LSTM+PPO [1]</text>
                <text x="10%" y="90%" class="text-test">DDQN+PPR [2]</text>
            </g>

            <g kendoButton (click)="onButtonClick1()">
                <image x="22.5%" y="7.5%" width="5%" height="5%" [ngClass]="{'icon-grp': err_glow[0]}"   href="../../assets/img/right_arrow.png"/>
            </g>
            <g>
                <text x="20%" y="10%" class="text-test" >Time </text>
                <circle  r='5%'  cx="20%" cy="30%" class="circle_action" fill='white' />
                <text x="20%" y="30%" class="Action-text" >Action 4</text>
                <circle  r='5%'  cx="20%" cy="60%" class="circle_action" fill='red' />
                <text x="20%" y="60%" class="Action-text" >Action 1</text>
                <circle  r='5%'  cx="20%" cy="90%" class="circle_action" fill='green' />
                <text x="20%" y="90%" class="Action-text" >Action 3</text>
                
            </g>

            
            <g class='card' [ngClass]="{'active': err1}" kendoButton (click)="onButtonClick1()">
                <image x="32.5%" y="7.5%" width="5%" height="5%"  [ngClass]="{'icon-grp': err_glow[1]}" href="../../assets/img/right_arrow.png"/>
            </g>
            <g class='card' [ngClass]="{'active': err1}">
                <text x="30%" y="10%" class="text-test">Time+1</text>
                <circle  r='5%'  cx="30%" cy="30%" class="circle_action" fill='red' />
                <text x="30%" y="30%" class="Action-text" >Action 1</text>
                <circle  r='5%'  cx="30%" cy="60%" class="circle_action" fill='white' />
                <text x="30%" y="60%" class="Action-text" >Action 4</text>
                <circle  r='5%'  cx="30%" cy="90%" class="circle_action" fill='white' />
                <text x="30%" y="90%" class="Action-text" >Action 4</text>
                <line  x1="24%" x2="26%" y1="30%" y2="30%"  class="line_action"  />
                <line  x1="24%" x2="26%" y1="60%" y2="60%"  class="line_action"  />
                <line  x1="24%" x2="26%" y1="90%" y2="90%"  class="line_action"  />

                
            </g>
            
            
            
            <g class='card' [ngClass]="{'active': err2}" kendoButton (click)="onButtonClick1()">
                <image x="42.5%" y="7.5%" width="5%" height="5%" [ngClass]="{'icon-grp': err_glow[2]}" href="../../assets/img/right_arrow.png"/>
            </g>
            <g class='card' [ngClass]="{'active': err2}">
                <text x="40%" y="10%" class="text-test">Time+2</text>
                <circle  r='5%'  cx="40%" cy="30%" class="circle_action" fill='white' />
                <text x="40%" y="30%" class="Action-text" >Action 4</text>
                <circle  r='5%'  cx="40%" cy="60%" class="circle_action" fill='white' />
                <text x="40%" y="60%" class="Action-text" >Action 4</text>
                <circle  r='5%'  cx="40%" cy="90%" class="circle_action" fill='white' />
                <text x="40%" y="90%" class="Action-text" >Action 4</text>

                <line  x1="34%" x2="36%" y1="30%" y2="30%" class="line_action"  />
                <line  x1="34%" x2="36%" y1="60%" y2="60%" class="line_action"  />
                <line  x1="34%" x2="36%" y1="90%" y2="90%" class="line_action"  />

                
            </g>
            
            
            
            <g class='card' [ngClass]="{'active': err3}" kendoButton (click)="onButtonClick1()">
                <image x="52.5%" y="7.5%" width="5%" height="5%" [ngClass]="{'icon-grp': err_glow[3]}" href="../../assets/img/right_arrow.png"/>
            </g>
            <g class='card' [ngClass]="{'active': err3}">
                    <text x="50%" y="10%" class="text-test">Time+3</text>
                    <circle  r='5%'  cx="50%" cy="30%" class="circle_action" fill='white' />
                    <text x="50%" y="30%" class="Action-text" >Action 4</text>
                    <circle  r='5%'  cx="50%" cy="60%" class="circle_action" fill='green' />
                    <text x="50%" y="60%" class="Action-text" >Action 3</text>
                    <circle  r='5%'  cx="50%" cy="90%" class="circle_action" fill='white' />
                    <text x="50%" y="90%" class="Action-text" >Action 4</text>

                    <line  x1="44%" x2="46%" y1="30%" y2="30%" cx="175" class="line_action"  />
                    <line  x1="44%" x2="46%" y1="60%" y2="60%" cx="175" class="line_action"  />
                    <line  x1="44%" x2="46%" y1="90%" y2="90%" cx="175" class="line_action"  />

    
            </g>
            

            
            <g class='card' [ngClass]="{'active': err4}" kendoButton (click)="onButtonClick1()">
                    <image x="62.5%" y="7.5%" width="5%" height="5%" [ngClass]="{'icon-grp': err_glow[4]}"  href="../../assets/img/right_arrow.png"/>
            </g>
            <g class='card' [ngClass]="{'active': err4}">
                    <text x="60%" y="10%" class="text-test">Time+4</text>
                    <circle  r='5%'  cx="60%" cy="30%" class="circle_action" fill='yellow' />
                    <text x="60%" y="30%" class="Action-text" >Action 2</text>
                    <circle  r='5%'  cx="60%" cy="60%" class="circle_action" fill='white' />
                    <text x="60%" y="60%" class="Action-text" >Action 4</text>
                    <circle  r='5%'  cx="60%" cy="90%" class="circle_action" fill='white' />
                    <text x="60%" y="90%" class="Action-text" >Action 4</text>

                    <line  x1="54%" x2="56%" y1="30%" y2="30%" cx="175" class="line_action"  />
                    <line  x1="54%" x2="56%" y1="60%" y2="60%" cx="175" class="line_action"  />
                    <line  x1="54%" x2="56%" y1="90%" y2="90%" cx="175" class="line_action"  />

            
            </g>
            

            <g class='card' [ngClass]="{'active': err5}">
                <text x="70%" y="10%" class="text-test">Time+5</text>
                <text x="85%" y="10%" class="text-test">Total Cost(K)$</text>
                <circle  r='5%'  cx="70%" cy="30%" class="circle_action" fill='white' />
                <text x="70%" y="30%" class="Action-text" >Action 4</text>
                <circle  r='5%'  cx="70%" cy="60%" class="circle_action" fill='white' />
                <text x="70%" y="60%" class="Action-text" >Action 4</text>
                <circle  r='5%'  cx="70%" cy="90%" class="circle_action" fill='white' />
                <text x="70%" y="90%" class="Action-text" >Action 4</text>
                <line  x1="64%" x2="66%" y1="30%" y2="30%" cx="175" class="line_action"  />
                <line  x1="64%" x2="66%" y1="60%" y2="60%" cx="175" class="line_action"  />
                <line  x1="64%" x2="66%" y1="90%" y2="90%" cx="175" class="line_action" />


                <text x="85%" y="30%" class="text-cost">8</text>
                <text x="85%" y="60%" class="text-cost">17</text>
                <text x="85%" y="90%" class="text-cost">15</text>
            </g>

        </svg>
        

        </div>

        <div class="col-4 col-md-4 align-self-center" >
            <kendo-grid
                  [kendoGridBinding]="maintenance_action_water_filter_json"
                  [scrollable]="scrollMode"
                >
                  
                  <kendo-grid-column 
                  [headerStyle]="{ 'text-align': 'center' }" 
                  [style]="{ 'text-align': 'center' }" 
                  field="actions" title="Actions"></kendo-grid-column>
                  <kendo-grid-column 
                  [headerStyle]="{ 'text-align': 'center' }" 
                  [style]="{ 'text-align': 'center' }" 
                  field="actions_description" title="Actions Description"></kendo-grid-column>
            </kendo-grid>
        </div>
        
        <!--<div class="col-12 col-md-12">
            <kendo-grid
                [kendoGridBinding]="maintenance_seq_json"
                [scrollable]="scrollMode"
                [rowClass]="rowCallback"
            >
                  <kendo-grid-column 
                  [headerStyle]="{ 'text-align': 'center' }" 
                  [style]="{ 'text-align': 'center' }" 
                  field="algo" title=""></kendo-grid-column>
                  <kendo-grid-column 
                  [headerStyle]="{ 'text-align': 'center' }" 
                  [style]="{ 'text-align': 'center' }" 
                  field="actions" title="T+0 →T+1  →  T+2  →  T+3  →  T+4  →  T+5"></kendo-grid-column>
                  <kendo-grid-column 
                  [headerStyle]="{ 'text-align': 'center' }" 
                  [style]="{ 'text-align': 'center' }" 
                  field="cost" title="Total Cost"></kendo-grid-column>
            </kendo-grid>
        </div>
    </div>-->




    <!-- Reference Notes Section -->
    <div class="row">
        <div class="col-12">

            <p class="note">
                [1] Wenbo, Wang, et al. "Predictive Maintenance Model for IIoT-based Manufacturing: 
                A Transferable Deep Reinforcement Learning Approach." IEEE Internet of Things Journal (2022).
            </p>

            <p class="note">
                [2] Dangut, Maren David, et al. "Application of deep reinforcement learning for extremely rare failure 
                prediction in aircraft maintenance." Mechanical Systems and Signal Processing 171 (2022): 108873.
            </p>
            
        </div>
    </div>





    <!-- Popup Chart -->
    <kendo-window
      [minWidth]="300"
      [minHeight]="300"
      [top]="30"
      title="About"
      *ngIf="windowOpened"
      (close)="close('window')"
    >
      <kendo-chart>
        <kendo-chart-title text="Units sold"></kendo-chart-title>
        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item
            [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
            [title]="{ text: 'Months' }"
          >
          </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-series>
          <kendo-chart-series-item
            type="line"
            [data]="[123, 276, 310, 212, 240, 156, 98]"
          >
          </kendo-chart-series-item>
          <kendo-chart-series-item
            type="line"
            [data]="[165, 210, 287, 144, 190, 167, 212]"
          >
          </kendo-chart-series-item>
          <kendo-chart-series-item
            type="line"
            [data]="[56, 140, 195, 46, 123, 78, 95]"
          >
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </kendo-window>



</div>