<div>


     <!-- Title Section -->
     <div class="row">
        <div class="col-12">
            <h2 class="mt-0">WP 3.3 Optimal Maintenance Action Algorithm (Algorithm 2)</h2>
        </div>
    </div>


    <!-- Optimal Maintenance Action Algorithm Section -->
    <div class="row">

        <div class="col-12 col-md-4 d-flex">
            <div class="introduction-component">
                <p>
                    CPPS WP 3.3 Algorithm: an offline supervised deep reinforcement learning algorithm is developed. 
                    Using offline reinforcement learning makes it possible to learn the optimum maintenance policy from 
                    historical data. The model can be reused when given new dataset.
                </p>
            </div>
        </div>

        <div class="col-12 col-md-4 d-flex">
            <div class="introduction-component">
                <p>
                    Benchmark 1: a PPO-LSTM model is presented to discover the decision policy based on 
                    deep reinforcement learning techniques. The training time is long. The model cannot be reused.
                </p>

                <p class="note">
                    Ref: [1] Wenbo, Wang, et al. (2022).
                </p>
            </div>
        </div>

        <div class="col-12 col-md-4 d-flex">
            <div class="introduction-component">
                <p>
                    Benchmark 2:  a DDQN + PER model is developed for predicting unscheduled maintenance action based on 
                    deep reinforcement learning techniques. Its training time is long. The model cannot be reused.
                </p>

                <p class="note">
                    Ref: [2] Dangut, Maren David, et al. (2022).
                </p>
            </div>
        </div>

    </div>


    <!-- Reference Notes Section -->
    <div class="row">
        <div class="col-12">

            <p class="note">
                [1] Wenbo, Wang, et al. "Predictive Maintenance Model for IIoT-based Manufacturing: 
                A Transferable Deep Reinforcement Learning Approach." IEEE Internet of Things Journal (2022).
            </p>

            <p class="note">
                [2] Dangut, Maren David, et al. "Application of deep reinforcement learning for extremely rare failure 
                prediction in aircraft maintenance." Mechanical Systems and Signal Processing 171 (2022): 108873.
            </p>
            
        </div>
    </div>


</div>