<div>


    <!-- Title Section -->
    <div class="row">
        <div class="col-12">
            <h2 class="mt-0">Conclusion</h2>
        </div>
    </div>


    <!-- Datasets Description Section -->
    <div class="row">

        <div class="col-12 col-md-6 d-flex">
            <div class="introduction-component">
                <h3>System level prescriptive maintenance</h3>

                <p>
                    System level prescriptive maintenance algorithm  which not only predicts the degradation level but also 
                    determines <b><i>root cause</i></b> of the system failure to facilitate the  decision of the maintenance actions.
                </p>

                <p>
                    By integration with domain knowledge, the proposed algorithm outperformed the state of art by 
                    <b><i> around 10% to 30% in F1 Score </i></b> root cause identification. 
                </p>
            </div>
        </div>

        <div class="col-12 col-md-6 d-flex">
            <div class="introduction-component">
                <h3>Offline deep reinforcement learning</h3>

                <p>
                    Offline deep reinforcement learning algorithm to recommend maintenance actions to optimize the total cost.
                </p>

                <p>
                    <b><i> Minimum total cost. </i></b> CPPS WP3.3 algorithm recommends the optimal action sequence, which 
                    helps minimize the total cost by <b><i> around 18% to 45% </i></b> compared with the state-of-the-art algorithms. 
                </p>

                <p>
                    <b><i> Reduce training time. </i></b> CPPS WP3.3 algorithm leverages the historical data for training. The training 
                    time for CPPS WP3.3 algorithm is 7% shorter than the state-of-the-art algorithm.
                </p>
            </div>
        </div>

    </div>


</div>