@import "variables";

.card-image {
  width:  5rem;
  height:  5rem;
  margin-top: 1.5rem;
}

.card-number {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: bolder;
}

.card-intro-text {
  line-height: 1rem;
}

.card-details {
  max-width: 17.5rem;
}

.introduction-component {
  &:hover {
    cursor: pointer;
    background: $hovered-bg;
  }
}
