<div>


    <!-- Title Section -->
    <div class="row">
        <div class="col-12">
            <h2 class="mt-0">WP 3.3 Maintenance Root Cause Algorithm (Algorithm 1)</h2>
        </div>
    </div>



    <!-- Datasets Description Section -->
    <div class="row">

        <div class="col-12 col-md-4 d-flex">
            <div class="introduction-component">
                <h3>CPPS WP 3.3 Algorithm:</h3>
                <p>
                    Proposed a new framework which integrates with domain expert knowledge with feature anomaly detection 
                    methods to best identify/classify root cause of maintenance. The F1 score for CPPS WP 3.3 algorithm is 
                    higher than the state-of-the-art algorithms.
                </p>
            </div>
        </div>

        <div class="col-12 col-md-4 d-flex">
            <div class="introduction-component">
                <h3>Benchmark 1: HDBSCAN</h3>

                <p>
                    Hierarchical Density-Based Spatial Clustering of Applications with Noise (HDBSCAN) 
                    Performs DBSCAN (density-based clustering technique) over varying epsilon values and integrates 
                    the result to find a clustering that gives the best stability.
                </p>

                <p class="note">
                    Ref: [1] J Bjurenfalk, A Johnson (2021)
                </p>
            </div>
        </div>

        <div class="col-12 col-md-4 d-flex">
            <div class="introduction-component">
                <h3>Benchmark 2:  DeepCluster</h3>

                <p>
                    DeepCluster is a clustering method that jointly learns the parameters of a neural network and the 
                    cluster assignments of the resulting features. 
                </p>

                <p class="note">
                    Ref: [2] S. Dhariwal, Y. Liu, A. Karali and V. Vlassov (2020)
                </p>
            </div>
        </div>

    </div>




    <!-- Reference Notes Section -->
    <div class="row">
        <div class="col-12">

            <p class="note">
                [1] Bjurenfalk, J., & Johnson, A. (2021). Automated error matching system using machine learning and 
                data clustering: Evaluating unsupervised learning methods for categorizing error types, capturing bugs, 
                and detecting outliers.
            </p>

            <p class="note">
                [2] S. Dhariwal, Y. Liu, A. Karali and V. Vlassov (2020). "Clothing Classification using Unsupervised 
                Pre-Training," 2020 Fourth International Conference on Multimedia Computing, Networking and 
                Applications (MCNA)
            </p>
            
        </div>
    </div>


</div>