

  
.div-title {
    color: #eee;
    font-weight: bold;
    font-style: italic;
}

.div-table {
    display: table;         
    width: auto;
    /*          
    background-color: #eee;         
    border: 1px solid #666666;
    */

    border-spacing: 5px; /* cellspacing:poor IE support for  this */
}

.div-table-header {
    display: table-row;
    width: auto;
    clear: both;
    color: #eee;
    font-weight: bold;
    font-style: italic;
    
}

.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-row-highlighted {
    display: table-row;
    width: auto;
    clear: both;
    background-color: #FFBF00;
}

.div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;

    margin-left: 10px;
    margin-right: 10px;
    /*         
    background-color: #ccc;
    */  
}