<div>


    <!-- Title Section -->
    <div class="row">
        <div class="col-12">
            <h2 class="mt-0">Performance & Results</h2>
        </div>
    </div>


    <div class="row">


        <!-- Left Content -->
        <div class="col-12 col-md-8">
            <div class="row col-12 col-lg-12">

                <section class="chart">
                    <kendo-chart class="vh-lg-60" [seriesColors]='seriesColors' [title]="{text: 'F1 score for Root Cause Identification', font: '1.2rem sans-serif'}">


                        <kendo-chart-value-axis>
                            <kendo-chart-value-axis-item
                                [title]="{ text: 'F1 score' }"
                                >
                            </kendo-chart-value-axis-item>
                        </kendo-chart-value-axis>


                        <kendo-chart-legend position="bottom" orientation="horizontal" [labels]="{font: chartConfig.legendFont}">
                            <kendo-chart-legend-item >
                            </kendo-chart-legend-item>
                        </kendo-chart-legend>


                        <kendo-chart-category-axis>
                            <kendo-chart-category-axis-item [categories]="series_categories_barchart">
                            </kendo-chart-category-axis-item>
                        </kendo-chart-category-axis>


                        <kendo-chart-series>
                            <kendo-chart-series-item *ngFor="let item of series_maintenance"
                                [labels]="seriesLabels" 
                                [data]="item.items"
                                [name]="item.value"
                                [color]="load_barchart_color"
                                >
                                <kendo-chart-series-item-tooltip>
                                    <ng-template let-value="value" let-category="category" let-dataItem="dataItem">
                                        <div> {{ dataItem.paper_ref }} </div>
                                    </ng-template>
                                </kendo-chart-series-item-tooltip>
                                <kendo-chart-series-item-labels>
                                </kendo-chart-series-item-labels>

                            </kendo-chart-series-item>
                        </kendo-chart-series>


                    </kendo-chart>

                </section>

                

            </div>
            <div class="row col-12 col-lg-12">
                    <p>F1-score, is a measure of a model's accuracy on a dataset. The F-score is a way of combining the precision and recall of the model, and it is defined as the harmonic mean of the model's precision and recall.
                    </p>
            </div>

        </div>



        <!-- Right Content -->
        <div class="col-12 col-md-4 d-flex flex-column justify-content-between">
            <div class="col-12">

                <div class="row col-12">
                    <h3>Higher F1 score for root cause identification compared with existing state-of-the-art algorithms</h3>
                </div>

                <br/><br/>

                <div class="row col-12">
                    <h3 class="mt-0">Settings</h3>
                </div>

                <div class="row col-12">
                    <kendo-label text="Algorithms">
                    </kendo-label>

                    <div class="form-control row mt-1">

                        <div class="col-12">
                            <label class="k-label"> CPPS WP 3.3<app-simtech-label></app-simtech-label>
                                <input type="checkbox" kendoCheckBox name="cb" (click)="toggle_algo_CPPS_3_3_dataset()" checked="checked_cpps_3_3"/>
                            </label>
                        </div>

                        <div class="col-12">
                            <label class="k-label"> HDBSCAN
                                <input type="checkbox" kendoCheckBox name="cb" (click)="toggle_algo_hdbscan_dataset()" checked="checked_hdb_scan"/>
                            </label>
                        </div>

                        <div class="col-12">
                            <label class="k-label"> DeepCluster
                                <input type="checkbox" kendoCheckBox name="cb" (click)="toggle_algo_deep_cluster_dataset()" checked="checked_mini_batch_k_means"/>
                            </label>
                        </div>

                    </div>
                </div>


                <br/><br/>


                <!-- Datasets -->
                <div class="row col-12">
                    <kendo-label text="Datasets">
                    </kendo-label>

                    <div class="col-12">
                        <label class="k-label"> Model Factory Dataset
                            <input type="checkbox" kendoCheckBox name="cb" (click)="model_factory_dataset()" checked="checked_model_factory"/>
                        </label>
                    </div>

                    <div class="col-12">
                        <label class="k-label"> Industry Dataset (MedTech)
                            <input type="checkbox" kendoCheckBox name="cb" (click)="industry_dataset()" checked="checked_mec_tech"/>
                        </label>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <br/>


    <!-- Bottom - Maintenance Action Section-->

    <div class="row col-12 col-md-12" style="margin-left:auto;margin-right:auto;display:block;width:60%;">

        <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="375">
            <!-- root cause icon -->
            <g class="icon-grp">
                <rect x="60" y="100" class="square-normal" rx="35px" ry="35px" stroke-linejoin="round"/>
                <text x="110" y="180" class="text-test">Root Cause</text>
                <image x="80" y="115" width="50" height="50" href="../../assets/img/search2.svg" />
            </g>
            <!-- arrow right icon -->
            <g>
                <image x="180" y="90" width="50" height="50" class="logo" href="../../assets/img/right_arrow.png" />
                <image x="180" y="160" width="50" height="50" class="logo" href="../../assets/img/right_arrow.png" />
            </g>
            <!-- water filter icon -->
            <g class="icon-grp" kendoButton (click)="onButtonClick1()" [ngClass]="{'button_on': err1}">
                <rect [ngClass]="{'button_on': err1}" x="250" y="40" class="square-normal error_buttons" rx="35px" ry="35px" stroke-linejoin="round" />
                <text x="300" y="120" class="text-test">Water Filter</text>
                <image x="275" y="55" width="50" height="50" href="../../assets/img/water_filter.png" />
            </g>
            <!-- heating zone icon -->
            <g class="icon-grp" kendoButton (click)="onButtonClick2()" [ngClass]="{'button_on': err2}">
                <rect [ngClass]="{'button_on': err2}" x="250" y="160" class="square-normal" rx="35px" ry="35px" stroke-linejoin="round" />
                <text x="300" y="240" class="text-test">Heating Zone</text>
                <image x="240" y="135" width="130" height="130" href="../../assets/img/heating_zone.png" />
            </g>
            <!-- arrow right icon -->
            <g class="card" [ngClass]="{'active': err1}">
                <image x="370" y="65" width="50" height="50" class="logo" href="../../assets/img/right_arrow.png" />
                <!--<image x="370" y="185" width="50" height="50" class="logo" href="../../assets/img/right_arrow.png" />-->
            </g >
                
            <g class="card" [ngClass]="{'active': err2}">
                <image x="370" y="185" width="50" height="50" class="logo" href="../../assets/img/right_arrow.png" />
            </g>
            <!-- action 1 list -->
            <g class="card" [ngClass]="{'active': err1}">
                <rect x="440" y="40" class="square-action" rx="35px" ry="35px" stroke-linejoin="round"/>
                <text x="480" y="60" class="text-action">Action 1: Reduce chilled water temp</text>
                <text x="480" y="80" class="text-action">Action 2: Increase supply pressure</text>
                <text x="480" y="100" class="text-action">Action 3: Service water valve</text>
                <text x="480" y="120" class="text-action">Action 4: No immediate action</text>
            </g>
            <!-- action 2 list -->
            <g class="card" [ngClass]="{'active': err2}">
                <rect x="440" y="160" class="square-action" rx="35px" ry="35px" stroke-linejoin="round"/>
                <text x="480" y="180" class="text-action">Action 1: Increase injection screw back pressure</text>
                <text x="480" y="200" class="text-action">Action 2: Service heater</text>
                <text x="480" y="220" class="text-action">Action 3: Service cooling tower</text>
                <text x="480" y="240" class="text-action">Action 4: No Maintenance Action</text>
            </g>
        </svg>


    </div>


    <!--<div class="row">
        
        <div class="col-12 col-md-12">
            <div class="error_buttons_grp">
                <button class='error_buttons' kendoButton (click)="onButtonClick1()" [ngClass]="{'button_on': err1}">Water Filter Error</button>
                <button class='error_buttons' kendoButton (click)="onButtonClick2()" [ngClass]="{'button_on': err2}">Heating Zone Error</button>
            </div>
            
        </div>
    </div>-

    <div class="row">
        <div class="col-12 col-md-12 card" [ngClass]="{'active': err1}">

            <kendo-grid
                  [kendoGridBinding]="maintenance_action_water_filter_json"
                  [scrollable]="scrollMode"
                >
                  
                  <kendo-grid-column 
                  [headerStyle]="{ 'text-align': 'center' }" 
                  [style]="{ 'text-align': 'center' }" 
                  field="actions" title="Actions"></kendo-grid-column>
                  <kendo-grid-column 
                  [headerStyle]="{ 'text-align': 'center' }" 
                  [style]="{ 'text-align': 'center' }" 
                  field="actions_description" title="Actions Description"></kendo-grid-column>
            </kendo-grid>
        </div>

        <div class="col-12 col-md-12 card" [ngClass]="{'active': err2}">
            <kendo-grid
                  [kendoGridBinding]="maintenance_action_heating_zone_json"
                  [scrollable]="scrollMode"
                >
                  <kendo-grid-column 
                  [headerStyle]="{ 'text-align': 'center' }" 
                  [style]="{ 'text-align': 'center' }" 
                  field="actions" title="Actions"></kendo-grid-column>
                  <kendo-grid-column 
                  [headerStyle]="{ 'text-align': 'center' }" 
                  [style]="{ 'text-align': 'center' }" 
                  field="actions_description" title="Actions Description"></kendo-grid-column>
            </kendo-grid>
        </div>
    </div>-->


    <!-- Bottom - Reference-->
    <div class="row">
        <div class="col-12">

            <!-- <p class="note">
                [1] Bjurenfalk, J., & Johnson, A. (2021). Automated error matching system using machine learning and 
                data clustering: Evaluating unsupervised learning methods for categorizing error types, capturing bugs, 
                and detecting outliers
            </p> -->

            <p class="note">
                [1] Tran, Tat-Huy, Tuan-Dung Cao, and Thi-Thu-Huyen Tran. "HDBSCAN: Evaluating the Performance of 
                Hierarchical Clustering for Big Data." Soft Computing: Biomedical and Related Applications. 
                Springer, Cham, 2021. 273-283.
            </p>

            <!-- <p class="note">
                [2] S. Dhariwal, Y. Liu, A. Karali and V. Vlassov (2020). "Clothing Classification using 
                Unsupervised Pre-Training," 2020 Fourth International Conference on Multimedia Computing, 
                Networking and Applications (MCNA).
            </p> -->

            <p class="note">
                [2] R. Murasaki and K. Matsushima, "Automatic Pavement Type Recognition based on Mobile Deep Learning," 
                2022 IEEE 4th Global Conference on Life Sciences and Technologies (LifeTech), 2022, pp. 370-374, 
                doi: 10.1109/LifeTech53646.2022.9754920.
            </p>
            
        </div>
    </div>


</div>