@import "variables";

.objective-text{
  margin-top: 0;
}

.details-image {
  width: 4rem;
  height: 4rem;
  margin-top: 1rem;
}

.details-panel {
  background: $component-bg;
}

.icon-grp2{
  cursor: pointer;
}

.icon-grp2:hover{
  cursor: pointer;
  animation: warning-glowing 10s ease-in-out infinite alternate ;
}


@keyframes warning-glowing {
  from {
    filter: drop-shadow( 0 0 1px #fff) drop-shadow( 0 0 2px #f7dc8b) drop-shadow( 0 0 3px #f3da90);
  }

  to {
    
    filter: drop-shadow( 0 0 3px #fff) drop-shadow( 0 0 2px #f7dc8b) drop-shadow( 0 0 1px #f3da90);
  }
}