/* You can add global styles to this file, and also import other style files */

// Set the variables before
@import "variables";
@import "base";
@import "components";
@import "~@progress/kendo-theme-bootstrap/dist/all.scss";

section.chart {

  border: $border-100;
  border-radius: $border-radius;
  padding: 0.5rem;

}
// Overwrite button styling in KendoUI's grid command column
.k-command-cell button{
  background: none;
  padding: 0;
}

