<div>
  <div class="row">
    <div class="col-12">
      <app-view-heading
        [title]="'Introduction'"
      ></app-view-heading>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="mt-0">Objectives</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, consequatur cupiditate ea quasi quis ratione sint.
        Asperiores at delectus dignissimos doloribus ducimus esse eveniet fugit harum illo impedit laudantium molestiae optio placeat,
        possimus quasi rerum tempore voluptates voluptatum. Ad consequuntur enim illo laborum vel! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-4">
      <h2>Outcomes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 d-flex">
      <div class="introduction-component">
        <h3>Reduce Cost</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, consequatur cupiditate ea quasi quis ratione sint.
          Asperiores at delectus dignissimos doloribus ducimus esse eveniet fugit harum illo impedit laudantium molestiae optio placeat.
        </p>
      </div>

    </div>
    <div class="col-12 col-md-4 d-flex">
      <div class="introduction-component">
        <h3>Reduce Manpower</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eum, laudantium officia quaerat
          rerum unde ut. A ab accusamus accusantium aperiam asperiores cumque delectus dicta dignissimos, dolor dolore
          error ipsa iusto.
        </p>
      </div>

    </div>
    <div class="col-12 col-md-4 d-flex">
      <div class="introduction-component">
        <h3>Increase Productivity</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, consequatur cupiditate ea quasi quis ratione sint.
          Asperiores at delectus dignissimos doloribus ducimus esse eveniet fugit!
        </p>

      </div>
    </div>
  </div>
</div>
