<div>
  <div class="row">
    <div class="col-12">
      <app-view-heading
        [title]="'Conclusion'"
      ></app-view-heading>
      Our experiments show that jointly leveraging the concept of memetics \
      (i.e., hybridizing global and local search) and transfer across problems allows us to scale effectively
      to large-scale search spaces with significant speedups.
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-4">
          <h2 class="mt-0">Up to 7x speedup in Multi-objective Optimization</h2>
          <section class="chart">

            <kendo-chart class="vh-50 "
                         [title]="{ text: 'Speedup in Multi-Objective Optimization', font: '18px sans-serif'}">

              <kendo-chart-legend position="bottom" orientation="horizontal" [labels]="{font: '15px sans-serif'}">
                <kendo-chart-legend-item>
                </kendo-chart-legend-item
                >
              </kendo-chart-legend>
              <kendo-chart-category-axis>
                <kendo-chart-category-axis-item
                  [categories]="['Low-Sim', 'Medium-Sim', 'High-Sim']"
                  [title]="{ text: 'Pareto Similarity', font: '15px sans-serif'}"
                  [labels]="{font: '13px sans-serif'}"
                  [line]="{width: 5}"

                >
                </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-series>

                <kendo-chart-series-item
                  type="column"
                  width=5
                  name="CPPS WP1.2 (EMT-RA)"
                  color="#fed357"
                  [data]="[1.4, 2.0, 4.2]"
                >
                </kendo-chart-series-item>
              </kendo-chart-series>
              <kendo-chart-value-axis>

                <kendo-chart-value-axis-item
                  [title]="{ text: 'X-Times Faster Than SOTA', font: '15px sans-serif' }"
                  [labels]="{font: '13px sans-serif'}"
                  [line]="{width: 5}"
                  [majorGridLines]="{width: 1, color:'grey'}"

                >
                </kendo-chart-value-axis-item>

              </kendo-chart-value-axis>
            </kendo-chart>
          </section>
        </div>
        <div class="col-12 col-md-4">
          <h2 class="mt-0">Up to 4x speedup in Single-objective Optimization</h2>
          <section class="chart">

            <kendo-chart class="vh-50 "
                         [title]="{ text: 'Speedup in Single-Objective Optimization', font: '18px sans-serif'}">

              <kendo-chart-legend position="bottom" orientation="horizontal" [labels]="{font: '15px sans-serif'}">
                <kendo-chart-legend-item>
                </kendo-chart-legend-item
                >
              </kendo-chart-legend>
              <kendo-chart-category-axis>
                <kendo-chart-category-axis-item
                  [categories]="['Low-Sim', 'Medium-Sim', 'High-Sim']"
                  [title]="{ text: 'Pareto Similarity', font: '15px sans-serif'}"
                  [labels]="{font: '13px sans-serif'}"
                  [line]="{width: 5}"

                >
                </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-series>

                <kendo-chart-series-item
                  type="column"
                  width=5
                  name="CPPS WP1.2 (EMT-RA)"
                  color="#fed357"
                  [data]="[1.4, 4.3, 7]"
                >
                </kendo-chart-series-item>
              </kendo-chart-series>
              <kendo-chart-value-axis>

                <kendo-chart-value-axis-item
                  [title]="{ text: 'X-Times Faster Than SOTA', font: '15px sans-serif' }"
                  [labels]="{font: '13px sans-serif'}"
                  [line]="{width: 5}"
                  [majorGridLines]="{width: 1, color:'grey'}"

                >
                </kendo-chart-value-axis-item>

              </kendo-chart-value-axis>
            </kendo-chart>
          </section>
        </div>
        <div class="col-12 col-md-4">
          <h2 class="mt-0">Up to 11% Reduction in Training Time</h2>
          <section class="chart">

            <kendo-chart class="vh-50 "
                         [title]="{ text: 'Reduction in Training Time', font: '18px sans-serif'}">

              <kendo-chart-legend position="bottom" orientation="horizontal" [labels]="{font: '15px sans-serif'}">
                <kendo-chart-legend-item>
                </kendo-chart-legend-item
                >
              </kendo-chart-legend>
              <kendo-chart-category-axis>
                <kendo-chart-category-axis-item
                  [categories]="['Low-Sim', 'Medium-Sim', 'High-Sim']"
                  [title]="{ text: 'Pareto Similarity', font: '15px sans-serif'}"
                  [labels]="{font: '13px sans-serif'}"
                  [line]="{width: 5}"

                >
                </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-series>

                <kendo-chart-series-item
                  type="column"
                  width=5
                  name="CPPS WP1.2 (EMT-RA)"
                  color="#fed357"
                  [data]="[8, 5.0, 11]"
                >
                </kendo-chart-series-item>
              </kendo-chart-series>
              <kendo-chart-value-axis>

                <kendo-chart-value-axis-item
                  [title]="{ text: '% Reduction in Training Time', font: '15px sans-serif' }"
                  [labels]="{font: '13px sans-serif'}"
                  [line]="{width: 5}"
                  [majorGridLines]="{width: 1, color:'grey'}"

                >
                </kendo-chart-value-axis-item>

              </kendo-chart-value-axis>
            </kendo-chart>
          </section>
        </div>
<!--        <div class="col-12 col-md-4 d-flex flex-column justify-content-between">-->

<!--          <div>-->
<!--            <h2 class="mt-0">Impact</h2>-->
<!--            <div>-->
<!--              <h3 class="mt-0">Lesser Computational Time</h3>-->
<!--              <p>-->
<!--                Compared with simulation results (SIM_50, SIM_100 and SIM_1000), our method-->
<!--                needs much less computation time-->
<!--              </p>-->
<!--            </div>-->

<!--            <div class="mt-5">-->
<!--              <h3 class="fw-bolder">Higher Accuracy</h3>-->
<!--              <p>-->
<!--                Compared with simulation results (SIM_50, SIM_100 and SIM_1000), our method-->
<!--                needs much less computation time-->
<!--              </p>-->
<!--            </div>-->

<!--            <div class="mt-5">-->
<!--              <h3>Better Overall Results</h3>-->
<!--              <p>-->
<!--                Compared with simulation results (SIM_50, SIM_100 and SIM_1000), our method-->
<!--                needs much less computation time-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div>-->
<!--            <p class="note">Note: Lorem ipsum dolor sit amet, consectetur adipisicing elit!</p>-->
<!--          </div>-->
<!--        </div>-->

      </div>
    </div>
  </div>



</div>

